.welcome-content-body {
background-color: rgb(9, 0, 21,0.85);
max-width: 900px;
min-height: 500px;
padding: 1% 2% 3% 2%;
margin: auto;
color: white;
}

.lose-game-body{
box-shadow: 10px 10px rgb(8, 8, 8);
background-color: rgb(20, 0, 47);
position: relative;
left: -50%;
z-index: 1;
min-width: 604px;
min-height: 400px;
}

.button-container{
  position: relative;
  text-align: center;
}
.bigger-text{
  font-size: 250%;
}

.centered-text{
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 170%;
  pointer-events: none;
}
.text-down{
  transform: translate(-50%, -20%);
}
.game-button{
  max-width: 100%;
}

.list {
  list-style-type: none;
  padding: 0;
}

.selected-clor{
  background-color: cornflowerblue;
}
 
.unselected-clor{
box-shadow: 2px 10px rgb(8, 8, 8);
background-color: rgb(46, 46, 153); 
}


.sub-menu-button{
  color: white;
border: solid;
border-color: black;
cursor:pointer;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 60%;
  margin: auto;
}

.fade-in {
  animation: fadeIn ease 0.75s;
  -webkit-animation: fadeIn ease 0.75s;
  -moz-animation: fadeIn ease 0.75s;
  -o-animation: fadeIn ease 0.75s;
  -ms-animation: fadeIn ease 0.75s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%
}
.info-margin{
  margin-top: 10px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col"] {
    max-height: 40px;
    font-size: 69%;
  }
  [class*="welcome-content-body"] {
  min-height: 400px;
  }
  [class*="row"] {
  max-width: 100%;
  }
  [class*="bigger-text"] {
    font-size: 170%;
  }
  [class*="centered-text"] {
    font-size: 5vw;
    min-width: 80%;
  }
  [class*="lose-game-body"] {
    min-width: 100vw;
    min-height: 200px;
  }
  [class*="info-margin"] {
    margin-top: 5px;
  }
  [class*="unselected-clor"] {
    box-shadow: 1px 5px rgb(8, 8, 8);
    }
 h2{
  margin-top: 10px;
 }
}
ol {
  max-width: 600px;
  padding: 20px;
  margin: auto;
}

ol li {
  background: #c3d6ffa8;
  padding: 5px;
  margin: 5px;
  font-size: 130%;
  border-radius: 2px;
}

input[type=text]{
  width: 40%;
  padding: 12px 19px;
  box-sizing: border-box;
}
button{
  padding: 10px 30px;
  font-size: 17px;
  background-color: teal;
  color: white;
  border:none;
  cursor:pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover {
  background-color: rgb(0, 87, 87); /* Green */
  color: white;
}
.nameInputButton{
  padding-top: 9px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 12px;
}
